In [14]:
%matplotlib inline
import matplotlib.pyplot as plt
from math import sin
import pandas as pd
import os

In [19]:
db = pd.read_csv('Documentos/FEUP/AC/AC-G15/account.csv', sep=";")
db

      account_id  district_id         frequency    date
0            576           55  monthly issuance  930101
1           3818           74  monthly issuance  930101
2            704           55  monthly issuance  930101
3           2378           16  monthly issuance  930101
4           2632           24  monthly issuance  930102
...          ...          ...               ...     ...
4495         124           55  monthly issuance  971228
4496        3958           59  monthly issuance  971228
4497         777           30  monthly issuance  971228
4498        1573           63  monthly issuance  971229
4499        3276            1  monthly issuance  971229

[4500 rows x 4 columns]